@page
@model FakturaAccepter.Pages.Admin.IndexModel
@{
    ViewData["Title"] = "Index";
}

<h1>Manager</h1>
<table class="table">
    <thead>
        <tr>
            <th>
                Invite link
            </th>
            <th>
                Role
            </th>
            <th>
                Expiration
            </th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.InviteLinks)
        {
            <tr>
                <td>
                    <a href="Identity/Account/Register?inviteKey=@Html.DisplayFor(modelItem => item.Key)">Identity/Account/Register?inviteKey=@Html.DisplayFor(modelItem => item.Key)</a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Role)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ExpiryTime)
                </td>
                <td>
                    <a asp-page-handler="Delete" asp-route-id="@item.Id" class="btn btn-sm btn-danger">Delete</a>
                </td>
            </tr>

        }
    </tbody>
</table>
<p>
    <a asp-page-handler="CreateMemberLink" class="btn btn-sm btn-primary">Generate new member account</a>
</p>
